@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Open+Sans:wght@400;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, p{
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    margin: 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
