@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;
@use '../base/typography';

.toko {
    @include mix.backgroundImg(var.$tokoBg);

    .container {
        max-width: 1000px;

        .welcome {
            color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;

            .tanggal {
                text-align: right;
            }

            .text-welcome {
                color: #FFFFFF;
                margin-top: 15px;
                font-size: 18px;
            }

            .tanggal-full {
                display: none;
            }
        }

        .halaman {
            background-color: #FFFFFF;
            border-radius: 10px;
            padding: 25px 25px 0 25px;
            margin-bottom: 100px;

            .produk-unggulan {
                h1 {
                    margin-bottom: 15px;
                }
                .item {
                    display: flex;
                    align-items: center;

                    img {
                        width: 371px;
                        height: 212px;
                    }

                    .teks-produk-unggulan {
                        padding: 30px;
                        h2 {
                            text-align: left;
                            font-weight: 700;
                            font-size: 26px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .promosi-hari-ini {
                padding: 40px;

                h1 {
                    text-align: center;
                    margin-bottom: 25px;
                }

                .searching {
                    @include mix.flex(center,center);
                    column-gap: 10px;
                    margin-bottom: 20px;
                    .search {
                        width: 40%;
                        height: 32px;
                        border: 2px solid #0062D4;
                        border-radius: 5px;
                        box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
                        padding: 15px 10px;
                        font-size: 16px;
                        font-weight: 700;
                    }
                    button {
                        width: 65px;
                        height: 32px;
                        font-size: 18px;
                        border-radius: 5px;
                        border: 0;
                        font-weight: 700;
                        background-color: #0062D4;
                        color: #FFFFFF;
                    }
                }

                .error-sudah-ada {
                    margin-bottom: 15px;
                    text-align: center;
                    color: red;
                    font-weight: 700;
                    font-size: 18px;
                }

                .berhasil {
                    margin-bottom: 15px;
                    text-align: center;
                    color: green;
                    font-weight: 700;
                    font-size: 18px;
                }

                .container-card {
                    @include mix.flex(space-evenly, stretch);
                    width: 100%;
                    flex-wrap: wrap;
                    row-gap: 35px;
                    padding-bottom: 50px;
                    column-gap: 15px;

                    .card {
                        @include mix.borderCard();
                        max-width: 250px;
                        transition: all 0.5s ease;

                        .foto-produk {
                            width: 248px;
                            height: 165px;
                            // overflow: hidden;
                        }

                        .container-text {
                            padding: 15px 15px;

                            p {
                                color: red;
                                font-style: italic;
                                font-weight: 700;
                            }
                        }

                        &:hover {
                            transform: scale(1.05);
                        }

                        @include mix.tombolJumlah;

                        .tertambah {
                            text-align: center;
                            font-size: 14px;
                            font-weight: 700;
                            color: green;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                    }


                }

                .nav-card {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 48px;
                    ul {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                }

                .garis {
                    border: 2px solid black;
                    width: 100%;
                    margin-bottom: 20px;
                }

                .checkout-button {
                    @include mix.flex(center, center);
                    flex-direction: column;

                    p {
                        margin-bottom: 15px;
                        text-align: center;
                    }
                    a {
                        color: white;
                        border-radius: 5px;
                        background-color: #0062D4;
                        padding: 8px 20px;
                        font-size: 24px;
                        font-weight: 700;

                        &:hover {
                            background-color: #2687f7;
                            text-decoration: none;
                        }
                    }
                }
            }
            .pagination {
                @include mix.flex(center, center);
            }
            .checkout {
                padding: 0 0 20px 0;

                .back{
                    margin-bottom: 20px;
                    a {
                        font-size: 18px;
                        text-decoration: underline;
                    }
                }

                .tutorial-checkout {
                    text-align: center;
                    margin-bottom: 15px;

                    .red {
                        color: red;
                        font-weight: 700;
                    }
                }

                .space-for-delete {
                    margin: 0 auto;
                    width: 85%;

                    @include mix.flex(flex-end,center);
                    .delete-button {
                        font-weight: 700;
                        background-color: rgb(197, 41, 41);
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        font-size: 16px;
                        box-shadow: var.$boxShadow;
                        text-decoration: none;

                        &:hover {
                            background-color: rgb(173, 40, 40);;
                        }
                    }
                }

                .mobile {
                    text-align: center;
                }

                .heading-title {
                    text-align: center;
                    margin-bottom: 20px;
                }
                table, tr, th, td {
                    border: 3px solid #505050;
                    padding: 5px 7px;
                    font-size: 18px;
                    text-align: center;
                }

                table {
                    border-collapse: collapse;
                    width: 85%;
                    margin: 25px auto;
                    box-shadow: 1px 1px 5px 2px rgba($color: #505050, $alpha: 1.0);
                    th {
                        background-color: aquamarine;
                    }
                    .view-link-belum {
                        // padding: 2px;
                        color: #FFFFFF;
                        background-color: #0062D4;
                        padding: 4px 10px;
                        border-radius: 5px;
                        margin-top: 20px;
                    }
                    .view-link-selesai {
                        // padding: 2px;
                        color: #FFFFFF;
                        background-color: #22b93b;
                        padding: 4px 10px;
                        border-radius: 5px;
                        margin-top: 20px;
                    }
                    tr {

                        td {
                            // border-radius: 100px;
                            text-align: left;
                            button {
                                font-weight: 700;
                                color: #FFFFFF;
                                padding: 0 5px;
                                background-color: red;
                                border: 0;
                                border-radius: 5px;
                                font-size: 25px;
                            }
                            @include mix.tombolPlusMinus;
                        }

                    }
                }

                .container-center {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 50px 0 10px 0;

                    p {
                        text-align: center;
                    }
                    .kirim {
                        padding: 5px 20px;
                        text-align: center;
                        font-size: 22px;
                        text-decoration: none;
                        font-weight: 700;
                        margin-top: 20px;
                        background-color: #0062D4;
                        border: 0;
                        border-radius: 5px;
                        color: #FFFFFF;
                        box-shadow: var.$boxShadow;
                        &:hover {
                            background-color: #2687f7;
                        }
                    }

                }
            }

        }
    }
}
