// Import variables
@use '../abstracts/variables' as var;

// display flex
// argsnya merupakan default dari flex
@mixin flex ($justify: flex-start, $align: stretch){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

// gunakan border hanya untuk bantu
@mixin border {
    border: 2px solid black;
}

// button untuk home
@mixin buttonLogin {
    border-radius: 50px;
    background: #066fe7;
    box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.8);
}

@mixin buttonLoginHover {
    background: linear-gradient(#0062D4,#58A5FE);
}

// center picture
/* jangan lupa ini mengandung display,
klo displaynya tertumpuk,
malah kagak bisa.
*/
@mixin imgCenter($display) {
    display: $display;
    margin-left: auto;
    margin-right: auto;
}

@mixin backgroundImg($url) {
    background: url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin preventZoom ($width: 1200px) {
    margin: auto;
    position: relative;
    max-width: $width;
}

@mixin borderCard {
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    box-shadow: var.$boxShadowCard;
    border-radius: 10px;
    img {
        border-radius: 9px 9px 0 0;
    }
}

// Transition
@mixin initialTransition($transform: translateY(30px)) {
    opacity: 0;
    transform: $transform;
    transition: all 0.5s ease;
}

@mixin afterTransition() {
    .aos {
        opacity: 1;
        transform: translateY(0);
    }
}
@mixin afterText() {
    .text-aos {
        opacity: 1;
        transform: translateY(0);
    }
}
@mixin afterLogo() {
    .logo-aos {
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin navBar {
    .login {
        a {
            color: #FFFFFF;
            font-weight: 700;
            padding: 10px 20px;
            @include buttonLogin();

            &:hover {
                @include buttonLoginHover();
            }
        }
    }
}

@mixin tombolJumlah {
    .plusminus {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        align-items: center;
        margin-bottom: 16px;

        button {
            font-size: 25px;
            // color: white;
            font-weight: 800;
        }
        .plus {
            background-color: #4bff3b;
            margin-top: 20px;
            padding: 3px 10px;
            border: 2px solid gray;
            border-radius: 5px;
            img {
                @include flex(center, center);
            }

        }
        .minus {
            background-color: #ff4d4d;
            padding: 0px 15px;
        }

        .jumlah {
            font-size: 24px;
            font-weight: 700;
        }
    }
}

@mixin tombolPlusMinus {
    .plusminus {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        align-items: center;

        button {
            // font-size: 25px;
            // color: white;
            font-weight: 800;
            @include flex(center,center);
        }
        .plus {
            @include flex(center,center);
            background-color: #54e926;
            // margin-top: 20px;
            padding: 0 10px;
            border: 1px solid gray;
            border-radius: 5px;

        }
        .minus {
            @include flex(center,center);
            background-color: #ff4d4d;
            padding: 0 15px;
            border: 1px solid gray;
            border-radius: 5px;
        }

        .jumlah {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
    }
}


@mixin tombolPlusMinusMobile {
    .plusminus {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0;
        flex-direction: column-reverse;
        align-items: center;

        button {
            font-size: 18px;
            // color: white;
            font-weight: 800;
            @include flex(center,center);
        }
        .plus {
            @include flex(center,center);
            background-color: #54e926;
            // margin-top: 20px;
            padding: 0 10px;
            border: 1px solid gray;
            border-radius: 5px;

        }
        .minus {
            @include flex(center,center);
            background-color: #ff4d4d;
            padding: 0 15px;
            border: 1px solid gray;
            border-radius: 5px;
        }

        .jumlah {
            font-size: 18px;
            font-weight: 700;
        }
    }
}
