// Font
$montserrat: 'Montserrat', sans-serif;
$openSans: 'openSans', sans-serif;

// background source
$tokoBg: '../../../../public/assets/img/bg/toko_bg.png';

$boxShadow: 2px 4px 4px #888888;
$boxShadowCard: 0px 4px 4px rgba($color: #000000, $alpha: 0.25)
