@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Open+Sans:wght@400;600;700&display=swap");
/* jangan lupa ini mengandung display, 
klo displaynya tertumpuk,
malah kagak bisa.
*/
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

h1, h2, p, ul, li {
  margin: 0;
}

p, li, td {
  letter-spacing: 0.025em;
}

p {
  font-family: "openSans", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  text-decoration: underline;
}

h3 {
  font-family: "openSans", sans-serif;
}

.text-box .heading-title {
  text-decoration: underline;
}
.text-box li {
  font-family: "openSans", sans-serif;
  font-weight: 400;
}

.header-call span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.jm-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.nav ul {
  list-style: none;
  font-family: "openSans", sans-serif;
}

.navbarMobile ul {
  list-style: none;
  font-family: "openSans", sans-serif;
}

.heading-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: #0062D5;
}

.text {
  line-height: 30px;
  font-size: 18px;
}

h2 {
  text-align: center;
}

.text-box li {
  line-height: 22px;
  font-size: 16px;
}

.container-text .rank {
  font-size: 42px;
  font-weight: 700;
}
.container-text h3 {
  margin: 5px 0 15px 0;
  font-size: 24px;
  font-weight: 600;
}
.container-text .content-card {
  line-height: 22px;
}

.penghargaan-header p {
  font-size: 18px;
  line-height: 25px;
}

.mitra-text h1 {
  margin: 5px 0 15px 0;
}
.mitra-text p {
  line-height: 25px;
  font-size: 18px;
}

.hubungi .hubungi-title {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 50px;
}
.hubungi .copyright {
  padding: 80px 0 25px 0;
  text-align: center;
}
.hubungi .copyright p {
  line-height: 30px;
}
.hubungi .copyright .bold {
  font-weight: 700;
}
.hubungi .copyright span {
  text-decoration: underline;
}
.hubungi .container-contact td {
  text-decoration: underline;
  font-size: 20px;
  font-weight: 600;
  font-family: "openSans", sans-serif;
}

h3, p, td, li, a {
  color: #282828;
}

.carousel {
  margin: auto;
  position: relative;
  max-width: 1500px;
}
.carousel .container {
  position: relative;
  display: flex;
  align-items: center;
}
.carousel .container .nav-carousel {
  position: absolute;
  padding: 15px;
  background-color: #000000;
  opacity: 0.5;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  border: 0;
  cursor: pointer;
}
.carousel .container .nav-carousel:hover {
  opacity: 1;
}
.carousel .container .kiri {
  left: 5%;
}
.carousel .container .kanan {
  right: 5%;
}
.carousel .container .produk {
  display: none;
}
.carousel .container .active {
  /*
      Untuk menghilangkan whitespace antara
      carousel dan content, gunakan flex
  */
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.carousel .container .active img {
  max-width: 100%;
}

@media only screen and (max-width: 480px) {
  .carousel .container .nav-carousel {
    padding: 5px;
    font-size: 25px;
  }
}
.active {
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbarMobile {
  display: none;
}

.header-call {
  background-color: #F5F5F5;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}
.header-call .container-call {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-call .container-call .content {
  padding-top: 2px;
  padding-right: 15px;
  align-self: center;
}
.header-call .container-call .call-text {
  padding-right: 20px;
  font-size: 18px;
  text-decoration: underline;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-header .company-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  padding-left: 10%;
}
.container-header .company-name img {
  width: 62px;
  padding-right: 10px;
}
.container-header .company-name .jm-text {
  font-size: 20px;
  letter-spacing: -1px;
}
.container-header .navMobile {
  display: none;
  padding-right: 5%;
  cursor: pointer;
}
.container-header .navMobile img {
  width: 75%;
}
.container-header .nav li {
  display: inline-block;
  margin-right: 35px;
}
.container-header .nav li .login a {
  color: #FFFFFF;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 50px;
  background: #066fe7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.container-header .nav li .login a:hover {
  background: linear-gradient(#0062D4, #58A5FE);
}
.container-header .nav li a {
  letter-spacing: 0.4px;
  font-size: 18px;
}

.hubungi .container {
  margin: auto;
  position: relative;
  max-width: 1200px;
}
.hubungi .container .container-hub {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.hubungi .container .container-hub .container-contact {
  width: 100%;
}
.hubungi .container .container-hub .container-contact iframe {
  float: right;
  width: 75%;
  height: 300px;
}
.hubungi .container .container-hub .container-contact td {
  padding: 20px 0 20px 20px;
}

.tentang-kami {
  background: url("../assets/img/bg/kantor.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 150px 50px;
  position: relative;
}
.tentang-kami .container {
  margin: auto;
  position: relative;
  max-width: 1200px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}
.tentang-kami .container::after {
  content: "";
  clear: both;
  display: table;
}
.tentang-kami .container .img-office img {
  float: right;
  width: 65%;
}
.tentang-kami .container .text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 450px;
  padding: 20px 25px;
  background-color: #FFFFFF;
  box-shadow: 2px 4px 4px #888888;
}
.tentang-kami .container .text-box .text {
  padding-top: 10px;
}
.tentang-kami .aos {
  opacity: 1;
  transform: translateY(0);
}

.visi-misi {
  background: url("../assets/img/bg/gudang-min.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding: 100px 50px;
}
.visi-misi .container {
  margin: auto;
  position: relative;
  max-width: 1200px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}
.visi-misi .container .vm-mobile {
  display: none;
}
.visi-misi .container .text-box {
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 2px 4px 4px #888888;
  padding: 30px 25px 30px 0px;
}
.visi-misi .container .heading-title {
  padding-bottom: 10px;
}
.visi-misi .container .visi {
  top: 10%;
}
.visi-misi .container .misi {
  bottom: 10%;
  right: 0;
}
.visi-misi .container .pekerja {
  display: flex;
  align-items: center;
}
.visi-misi .container .pekerja .img-pekerja {
  display: none;
}
.visi-misi .container .pekerja .active {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visi-misi .container .pekerja .active img {
  max-width: 90%;
}
.visi-misi .aos {
  opacity: 1;
  transform: translateY(0);
}

.penghargaan {
  text-align: center;
}
.penghargaan .container {
  padding: 50px 0;
  margin: auto;
  position: relative;
  max-width: 1200px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}
.penghargaan .container .penghargaan-header {
  padding: 0 250px;
}
.penghargaan .container .penghargaan-header .heading-title {
  padding-bottom: 15px;
}
.penghargaan .container-card {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 50px;
  padding: 35px;
}
.penghargaan .container-card .card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 38%;
  transition: 0.5s;
}
.penghargaan .container-card .card img {
  border-radius: 9px 9px 0 0;
}
.penghargaan .container-card .card img {
  width: 100%;
}
.penghargaan .container-card .card .container-text {
  margin: 15px 25px 30px 25px;
}
.penghargaan .container-card .card:hover {
  transform: scale(1.05);
}
.penghargaan .aos {
  opacity: 1;
  transform: translateY(0);
}

.mitra {
  overflow-x: hidden;
  background-color: #ECECEC;
}
.mitra .container {
  margin: auto;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding: 150px 0;
}
.mitra .container .mitra-text {
  text-align: right;
  width: 40%;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.5s ease;
}
.mitra .container .text-aos {
  opacity: 1;
  transform: translateY(0);
}
.mitra .container .mitra-logo {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  row-gap: 30px;
  width: 40%;
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.5s ease;
}
.mitra .container .mitra-logo .logo img {
  transition: 0.5s;
}
.mitra .container .mitra-logo .logo img:hover {
  transform: scale(1.2);
}
.mitra .container .logo-aos {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 430px) {
  .tentang-kami {
    padding: 0;
    height: 530px;
  }
  .tentang-kami .container {
    width: 100%;
    padding: 0;
    top: 50px;
  }
  .tentang-kami .container .img-office img {
    width: 295px;
    margin-right: 10px;
  }
  .tentang-kami .container .text-box {
    width: 260px;
    margin-left: 12px;
    padding: 10px 15px;
    top: 280px;
  }
  .tentang-kami .container .text-box h1 {
    font-size: 20px;
  }
  .tentang-kami .container .text-box p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
  }

  .visi-misi {
    margin: 0;
    padding: 50px 0px 150px 0px;
  }
  .visi-misi .container {
    position: relative;
  }
  .visi-misi .container .pekerja .img-pekerja img {
    width: 300px;
  }
  .visi-misi .container .text {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .visi-misi .container .text .text-box {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 300px;
    padding: 10px 10px 10px 0px;
  }
  .visi-misi .container .text .text-box h2 {
    font-size: 22px;
  }
  .visi-misi .container .text .text-box li {
    font-size: 14px;
    line-height: 20px;
    font-family: "openSans", sans-serif;
  }
  .visi-misi .container .text .visi {
    top: auto;
  }
  .visi-misi .container .text .misi {
    bottom: auto;
  }

  .penghargaan .container {
    padding: 30px 0;
  }
  .penghargaan .container .penghargaan-header {
    padding: 5%;
  }
  .penghargaan .container .penghargaan-header h1 {
    font-size: 24px;
  }
  .penghargaan .container .penghargaan-header p {
    font-size: 16px;
    line-height: 24px;
  }
  .penghargaan .container-card {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow-x: auto;
    -moz-column-gap: 40px;
         column-gap: 40px;
    padding: 20px 20px;
  }
  .penghargaan .container-card .card {
    min-width: 270px;
  }
  .penghargaan .container-card .card .container-text h3 {
    font-size: 18px;
  }
  .penghargaan .container-card .card .container-text .content-card {
    font-size: 16px;
  }

  .mitra .container {
    margin: 0;
    padding: 20px;
    flex-direction: column;
    -moz-column-gap: normal;
         column-gap: normal;
  }
  .mitra .container .mitra-text {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
  }
  .mitra .container .mitra-text .heading-title {
    font-size: 24px;
  }
  .mitra .container .mitra-text p {
    font-size: 16px;
  }
  .mitra .container .mitra-logo {
    grid-template-columns: auto auto auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 10px;
    width: auto;
  }
}
@media only screen and (min-width: 431px) and (max-width: 600px) {
  .tentang-kami {
    padding: 0;
    height: 530px;
  }
  .tentang-kami .container {
    width: 100%;
    padding: 0;
    top: 50px;
  }
  .tentang-kami .container .img-office img {
    width: 400px;
    margin-right: 10px;
  }
  .tentang-kami .container .text-box {
    width: 360px;
    margin-left: 12px;
    padding: 10px 15px;
    top: 320px;
  }
  .tentang-kami .container .text-box h1 {
    font-size: 20px;
  }
  .tentang-kami .container .text-box p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
  }

  .visi-misi {
    margin: 0;
    padding: 50px 0px 150px 0px;
  }
  .visi-misi .container {
    position: relative;
  }
  .visi-misi .container .pekerja .img-pekerja img {
    width: 370px;
  }
  .visi-misi .container .text {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .visi-misi .container .text .text-box {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 420px;
    padding: 20px 10px 20px 0px;
  }
  .visi-misi .container .text .text-box h2 {
    font-size: 22px;
  }
  .visi-misi .container .text .text-box li {
    font-size: 14px;
    line-height: 20px;
    font-family: "openSans", sans-serif;
  }
  .visi-misi .container .text .visi {
    top: auto;
  }
  .visi-misi .container .text .misi {
    bottom: auto;
  }

  .penghargaan .container {
    padding: 30px 0;
  }
  .penghargaan .container .penghargaan-header {
    padding: 5%;
  }
  .penghargaan .container .penghargaan-header h1 {
    font-size: 24px;
  }
  .penghargaan .container .penghargaan-header p {
    font-size: 16px;
    line-height: 24px;
  }
  .penghargaan .container-card {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow-x: auto;
    -moz-column-gap: 40px;
         column-gap: 40px;
    padding: 20px 20px;
  }
  .penghargaan .container-card .card {
    min-width: 270px;
  }
  .penghargaan .container-card .card .container-text h3 {
    font-size: 18px;
  }
  .penghargaan .container-card .card .container-text .content-card {
    font-size: 16px;
  }

  .mitra .container {
    margin: 0;
    padding: 20px;
    flex-direction: column;
    -moz-column-gap: normal;
         column-gap: normal;
  }
  .mitra .container .mitra-text {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
  }
  .mitra .container .mitra-text .heading-title {
    font-size: 24px;
  }
  .mitra .container .mitra-text p {
    font-size: 16px;
  }
  .mitra .container .mitra-logo {
    grid-template-columns: auto auto auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 10px;
    width: auto;
  }
}
@media only screen and (min-width: 601px) and (max-width: 850px) {
  .tentang-kami {
    padding: 0;
    height: 680px;
  }
  .tentang-kami .container {
    width: 100%;
    padding: 0;
    top: 50px;
  }
  .tentang-kami .container .img-office img {
    width: 500px;
    margin-right: 10px;
  }
  .tentang-kami .container .text-box {
    width: 450px;
    margin-left: 12px;
    padding: 30px 15px;
    top: 400px;
  }
  .tentang-kami .container .text-box h1 {
    font-size: 24px;
  }
  .tentang-kami .container .text-box p {
    font-size: 18px;
  }

  .visi-misi {
    margin: 0;
    padding: 50px 0px 150px 0px;
  }
  .visi-misi .container {
    position: relative;
  }
  .visi-misi .container .pekerja .img-pekerja img {
    width: 480px;
  }
  .visi-misi .container .text {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .visi-misi .container .text .text-box {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 540px;
    padding: 30px 10px 30px 0px;
  }
  .visi-misi .container .text .visi {
    top: auto;
  }
  .visi-misi .container .text .misi {
    bottom: auto;
  }

  .penghargaan .container {
    padding: 30px 0;
  }
  .penghargaan .container .penghargaan-header {
    padding: 5%;
  }
  .penghargaan .container-card {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow-x: auto;
    -moz-column-gap: 40px;
         column-gap: 40px;
    padding: 20px 20px;
  }
  .penghargaan .container-card .card {
    min-width: 270px;
  }
  .penghargaan .container-card .card .container-text h3 {
    font-size: 18px;
  }
  .penghargaan .container-card .card .container-text .content-card {
    font-size: 16px;
  }

  .mitra .container {
    margin: 0;
    padding: 40px;
    flex-direction: column;
    -moz-column-gap: normal;
         column-gap: normal;
  }
  .mitra .container .mitra-text {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
  }
  .mitra .container .mitra-logo {
    grid-template-columns: auto auto auto;
    -moz-column-gap: 50px;
         column-gap: 50px;
    width: auto;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1024px) {
  .tentang-kami {
    padding: 0;
    height: 780px;
  }
  .tentang-kami .container {
    width: 100%;
    padding: 0;
    top: 50px;
  }
  .tentang-kami .container .img-office img {
    width: 650px;
    margin-right: 10px;
  }
  .tentang-kami .container .text-box {
    width: 600px;
    margin-left: 12px;
    top: 500px;
  }
  .tentang-kami .container .text-box h1 {
    font-size: 24px;
  }
  .tentang-kami .container .text-box p {
    font-size: 18px;
  }

  .visi-misi {
    margin: 0;
    padding: 50px 0px 150px 0px;
  }
  .visi-misi .container {
    position: relative;
  }
  .visi-misi .container .pekerja .img-pekerja img {
    width: 520px;
  }
  .visi-misi .container .text {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .visi-misi .container .text .text-box {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 540px;
    padding: 30px 10px 30px 0px;
  }
  .visi-misi .container .text .visi {
    top: auto;
  }
  .visi-misi .container .text .misi {
    bottom: auto;
  }

  .penghargaan .container {
    padding: 30px 0;
  }
  .penghargaan .container .penghargaan-header {
    padding: 5%;
  }

  .mitra .container {
    margin: 0;
    padding: 40px;
    flex-direction: column;
    -moz-column-gap: normal;
         column-gap: normal;
  }
  .mitra .container .mitra-text {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
  }
  .mitra .container .mitra-logo {
    grid-template-columns: auto auto auto;
    -moz-column-gap: 50px;
         column-gap: 50px;
    width: auto;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .visi-misi {
    margin: 0;
    padding: 50px 0px 150px 0px;
  }
  .visi-misi .container {
    position: relative;
  }
  .visi-misi .container .pekerja .img-pekerja img {
    width: 520px;
  }
  .visi-misi .container .text {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .visi-misi .container .text .text-box {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 540px;
    padding: 30px 10px 30px 0px;
  }
  .visi-misi .container .text .visi {
    top: auto;
  }
  .visi-misi .container .text .misi {
    bottom: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }

  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .header-call {
    z-index: -1;
  }
  .header-call .container-call .content img {
    width: 14px;
  }
  .header-call .container-call .call-text a {
    font-size: 16px;
  }

  .navbarMobile {
    display: none;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .navbarMobile .exitBtn {
    float: right;
    padding: 18px;
    cursor: pointer;
  }
  .navbarMobile .exitBtn img {
    width: 75%;
  }
  .navbarMobile ul {
    padding-left: 20px;
    margin: 7% 0 0 0;
  }
  .navbarMobile ul li {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .navbarMobile .login a {
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    background: #066fe7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  }
  .navbarMobile .login a:hover {
    background: linear-gradient(#0062D4, #58A5FE);
  }

  .navActive {
    display: block;
  }

  .container-header .company-name {
    padding-left: 5%;
  }
  .container-header .company-name img {
    width: 49px;
  }
  .container-header .company-name .jm-text {
    font-size: 18px;
  }
  .container-header .nav {
    display: none;
  }
  .container-header .navMobile {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .hubungi .container {
    margin: 0;
    padding: 0;
  }
  .hubungi .container .hubungi-title {
    font-size: 24px;
  }
  .hubungi .container .container-hub {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .hubungi .container .container-hub .container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hubungi .container .container-hub .container-contact iframe {
    margin-bottom: 25px;
  }
  .hubungi .container .container-hub .container-contact td {
    padding: 20px 5px;
  }
  .hubungi .container .container-hub .container-contact td img {
    width: 40px;
  }
  .hubungi .container .container-hub .container-contact td a {
    font-size: 16px;
  }
  .hubungi .container .copyright {
    padding: 25px 0 25px 0;
  }
  .hubungi .container .copyright p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .hubungi .container {
    margin: 0;
    padding: 0;
  }
  .hubungi .container .container-hub {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .hubungi .container .container-hub .container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hubungi .container .container-hub .container-contact iframe {
    margin-bottom: 25px;
  }
  .hubungi .container .container-hub .container-contact td {
    padding: 20px 5px;
  }
  .hubungi .container .container-hub .container-contact td img {
    width: 40px;
  }
  .hubungi .container .copyright {
    padding: 25px 0 25px 0;
  }
  .hubungi .container .copyright p {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */