@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --main-color: #0000FF;
    --color-light: #ffffff;
    --text-grey: #d6d6d6;
    --logo-grey: #7e7d7d;
}

h3.tulisan_logo{
    padding-bottom: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.sidebar{
    width: 310px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
}

.sidebar-brand{
    height: 100px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
    padding-bottom: 100px;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu{
    margin-top: 2rem;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 2.5rem;
    padding-left: 0.25rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.main-content{
    margin-left: 310px;
}

.main-content-promosi{
    margin-bottom: auto;
    background-color: var(--text-grey);
    margin-top: 80px;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 305px;
    width: calc(100% - 305px);
    top: 0;
    z-index: 100;
}

header h3{
    color:#000000;
    margin-top: 5px;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input{
    height: 100%;
    padding: 1.5rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 0.25rem;
}

.user-wrapper h5{
    margin-right: 3px;
    align-items: center;
}

.form_promosi{
    display: block;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    align-items: center;
    height: 50%;
    background: var(--main-color);
    z-index: 100;
    border-radius: 10px 10px 0px 0px;
}

.form_promosi_1{
    margin-left: 38%;
    width: 650px;
    height: auto;
    background: var(--color-light);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 50px;
}

.edit_promosi_1{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: auto;
    background: var(--color-light);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 50px;
}

.form_master_data{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: auto;
    background: var(--color-light);
    border-radius: 0px 0px 10px 10px;
}
.form_admin_1{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: auto;
    background: var(--color-light);
    border-radius: 0 0 10px 10px;
}

.form_produk_1{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: auto;
    background: var(--color-light);
    border-radius: 0 0 10px 10px;
}

h4.tulisan_input_data_promosi{
    color: white;
    text-align: center;
}

img.gambar_input_promosi{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.col-25{
    float: left;
    width: 150px;
    margin-top: 25px;
    margin-left: 5%;
}

.col-75{
    float: left;
    width: 450px;
    margin-top: 25px;
}

.col-25-input{
    float: left;
    width: 150px;
    margin-top: 25px;
    margin-left: 5%;
}

.col-75-input{
    float: left;
    width: 480px;
    margin-top: 25px;
}

.letak_button{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
}

button.submit_promosi{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 115px;
    height: 40px;
    background: var(--main-color);
    color: var(--color-light);
    border-radius: 10px;
    border: none;
}

button.button_produk_unggulan{
    border-radius: 10px;
    font-size: 18px;
    width: 90px;
    border: none;
    height: 45px;
    margin-left: 86%;
    background: var(--main-color);
    color: white;
}

button.button_logout{
    border: none;
    background: #ffffff;
    margin-right: 25px;
    font-size: 20px;
    color: rgb(224, 22, 22);
    font-weight: bold;
}

h3.tulisan_master_data{
    margin-left: 35%;
    margin-top: 40px;
}

h3.tulisan_order{
    margin-left: 45%;
    margin-top: 100px;
}

h3.tulisan_admin{
    margin-left: 40%;
    margin-top: 50px;
}

h3.tulisan_riwayat{
    margin-left: 45%;
    margin-top: 50px;
}

td.nama_barang{
    text-align: left;
    width: 200px;
}

td.deskripsi{
    text-align: justify;
    width: 450px;
    height: 60px;
}

.col-pertanyaan{
    width: 00px;
}

tr.tr_admin{
    height: 50px;
}

tr.tr_order{
    height: 50px;
}

.header_order {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 310px;
    width: calc(100% - 305px);
    top: 0;
    z-index: 100;
    background: var(--color-light);
}

.header_promosi{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 310px;
    width: calc(100% - 305px);
    top: 0;
    z-index: 100;
    background: var(--color-light);
}

.header_produk{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 310px;
    width: calc(100% - 305px);
    top: 0;
    z-index: 100;
    background: var(--color-light);
}

.tombol_input_data_admin{
    background: var(--text-grey);
    margin-bottom: 50px;
    height: 190px;
}

.tombol_input_data_master_data{
    background: var(--text-grey);
    margin-bottom: 50px;
    height: 190px;
}

.tombol_input_data_promosi{
    background: var(--text-grey);
    margin-bottom: 50px;
    height: 190px;
}

button.button_lihat{
    background: #0000FF;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    color: #ffffff;
}

button.button_terima{
    background: #129239;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    color: #ffffff;
}

button.button_tolak{
    background: #cc1212;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    color: #ffffff;
}

button.button_edit{
    background: #129239;
    width: 45px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    color: #ffffff;
}

button.button_hapus{
    background: #cc1212;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    color: #ffffff;
}

button.button_input_data_promosi{
    margin-left: 30%;
    margin-right: 50px;
    background: var(--main-color);
    width: 200px;
    height: 50px;
    border: none;
    color: var(--color-light);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    margin-top: 100px;
}

button.button_input_data_admin{
    margin-left: 40%;
    background: var(--main-color);
    width: 200px;
    height: 50px;
    border: none;
    color: var(--color-light);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    margin-top: 100px;
}

button.button_input_data_master_data{
    margin-left: 40%;
    background: var(--main-color);
    width: 200px;
    height: 50px;
    border: none;
    color: var(--color-light);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    margin-top: 100px;
}

.bagian_lihat_order{
    margin-top: 80px;
    background: var(--text-grey);
    overflow-x: hidden;
}

.bagian_lihat_order_tabel{
    margin-top: 20px;
    background: var(--color-light);
}

main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: var(--text-grey);
    min-height: calc(100vh - 90px);
    display: flex;
    justify-content: space-evenly;
}

.cards{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}

.card-single span + h1{
    color: var(--logo-grey);
}

.button{
    background: var(--main-color);
    width: 200px;
    height: 50px;
    border: none;
    color: var(--color-light);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
    padding: 8px;
    background: var(--main-color);
    color: var(--color-light);
}

tr {
    text-align: center;
    padding: 8px;
    height: 35px;
    background: var(--color-light);
}

tr:nth-child(odd){
    background: var(--text-grey);
}

table.letak_tabel_order{
    margin-top: 50px;
    height: 10px;
    width: 90%;
    margin-left: 50px;
    margin-bottom: 50px;
}

table.letak_tabel_produk{
    margin-top: 50px;
    height: 10px;
    width: 90%;
    margin-left: 50px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

h3.tulisan_input_data_promosi{
    margin-top: 20px;
    margin-left: 40%;
}

img.gambar_order{
    margin-left: 50px;
    width: 82px;
    height: 95px;
}

p.warning{
    margin-top: 5px;
    text-align: center;
}

h5.nama_lihat_order{
    margin-left: 2%;
    margin-bottom: 25px;
}

h3.tabel_tulisan_list_order{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.col-awal{
    float: left;
    width: 280px;
    margin-left: 1.75%;
}

.col-panggilan{
    float: left;
    width: 450px;
    margin-left: -5%;
}

button.button_terima_lihat_order{
    float: right;
    width: 80px;
    margin-right: 130px;
    height: 38px;
    font-size: 20px;
    border: none;
    background: #129239;
    border-radius: 5px;
    color: #ffffff;
}

button.button_tolak_lihat_order{
    float: right;
    width: 80px;
    margin-right: 130px;
    height: 38px;
    font-size: 20px;
    border: none;
    background: #cc1212;
    border-radius: 5px;
    color: #ffffff;
}

.row-1{
    column-count: 1;
}
